.hero {
  background: linear-gradient(
    40deg,
    rgba(0, 115, 12, 0.81) -22.86%,
    rgba(251, 246, 238, 0) 116.18%
  );
  &__image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
  &__about {
    padding: 50px 0 35px 0;
    position: relative;
    z-index: 9;
    .title {
      margin-bottom: 15px;
    }
    .text {
      color: $heading-color;
      margin-bottom: 40px;
    }
  }
  &__preinfo {
    @include flexbox(start, center);
    gap: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    .icon {
      width: 20px;
      height: 20px;
      fill: $main-light-color;
    }
  }
  &__btns {
    @include flexbox(start, center);
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    .btn {
      width: 300px;
    }
  }
  .stats {
    @include flexbox(end, center);
    position: relative;
    z-index: 9;
    flex-wrap: wrap;
    gap: 12px;
    &__item {
      @include flexbox(start, center);
      gap: 8px;
      padding: 8px 10px;
      border-radius: 32px;
      background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
    }
    &__item:last-child {
      display: none;
    }
    &__value {
      font-size: 12px;
      font-weight: 700;
    }
    &__title {
      font-size: 10px;
    }
  }
  .decor {
    width: 83px;
    height: 118px;
    left: -15px;
    bottom: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    &__about {
      padding: 50px 0;
      .text {
        font-size: 18px;
        color: $text-color;
      }
    }
    &__preinfo {
      font-size: 16px;
      margin-bottom: 20px;
      .icon {
        width: 24px;
        height: 20px;
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__btns {
      flex-direction: row;
      gap: 30px;
      margin-bottom: 90px;
      .btn {
        width: auto;
      }
    }
    .stats {
      justify-content: center;
      &__item:last-child {
        display: inherit;
      }
      &__value {
        font-size: 15px;
      }
      &__title {
        font-size: 16px;
      }
    }
    .decor {
      bottom: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    &__content {
      position: relative;
    }
    &__image {
      width: 50%;
      height: 100%;
      max-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      object-fit: cover;
    }
    &__about {
      width: 50%;
      padding-right: 20px;
    }
    &__btns {
      margin-bottom: 50px;
    }
    .stats {
      justify-content: start;
      gap: 10px;
      &__item {
        padding: 0;
        background: transparent;
      }
      &__value {
        @include flexbox(center, center);
        border-radius: 50%;
        background: linear-gradient(73deg, #00730c -83.5%, #f9f9f9 93.84%);
        width: 50px;
        height: 50px;
        padding: 0 7px;
      }
      &__title {
        font-weight: 700;
        line-height: 20px;
        width: 90px;
      }
    }
    .decor {
      display: none;
    }
  }
}

@media (min-width: 1430px) {
  .hero {
    padding-top: 45px;
    &__about {
      max-width: 560px;
      padding: 85px 0 100px 0;
    }
    &__image {
      left: 50%;
      top: 0;
      max-width: 1010px;
    }
    .decor {
      display: block;
      bottom: 60px;
      width: 197px;
      height: 278px;
      left: calc(-50% - 60px);
      transform: translateX(50%);
    }
  }
}

.services {
  padding: 50px 0;
  text-align: center;
  .subtitle {
    margin-bottom: 15px;
  }
  .text {
    margin-bottom: 30px;
  }
  .col:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services-card {
  padding: 0 20px;
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
  background: linear-gradient(172deg, #fff -10.79%, #fff 94.04%);
  border-radius: 10px;
  text-align: start;
  min-height: 112px;
  @include flexbox(center, center);
  gap: 20px;
  &__header {
    position: relative;
    height: 112px;
    @include flexbox(start, center);
    .icon-bg {
      position: absolute;
      z-index: 8;
      fill: rgba(#fbeee7, 0.5);
      top: 0;
      left: -20px;
      width: 112px;
      height: 112px;
    }
    .icon {
      width: 50px;
      height: 50px;
      fill: $main-light-color;
      position: relative;
      z-index: 9;
    }
  }
  &__body {
    position: relative;
    z-index: 9;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .services {
    .subtitle {
      margin-bottom: 30px;
    }
    .text {
      margin-bottom: 50px;
    }
  }
  .services-card {
    flex-direction: column;
    text-align: center;
    padding: 10px 40px 60px 40px;
    &__header {
      width: 176px;
      height: 176px;
      justify-content: center;
      .icon-bg {
        left: 0;
        width: 100%;
        height: 100%;
      }
      .icon {
        width: 70px;
        height: 70px;
      }
    }
    &__title {
      font-size: 24px;
    }
    .text {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1430px) {
  .services {
    padding: 100px 0;
  }
  .services-card {
    cursor: pointer;
    &:hover {
      background: $main-light-color;
      color: $light-color;
      .text {
        color: $light-color;
      }
      .icon {
        fill: $light-color;
      }
      .icon-bg {
        fill: rgba(#fbeee7, 0.05);
      }
    }
  }
}
