body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $heading-color;
}

.stop-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 $container-gap;
  width: 100%;
}

.container-right {
  padding-left: calc((100% - $container-width) / 2);
}

.decor {
  position: absolute;
  z-index: 8;
}

.icon {
  width: 20px;
  height: 20px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $main-light-color;
  color: $light-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid $main-light-color;
  gap: 10px;
}

.btn-more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: $text-color;
  .icon {
    width: 16px;
    height: 12px;
    fill: $text-color;
  }
}

.icon {
  fill: $heading-color;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  color: $heading-color;
  span {
    display: block;
    color: $main-light-color;
  }
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  color: $heading-color;
  span {
    color: $main-light-color;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $text-color;
}

@media (min-width: 768px) {
  .title {
    font-size: 45px;
  }
  .btn {
    font-size: 18px;
  }
  .btn-more {
    font-size: 18px;
    .icon {
      width: 20px;
      height: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 45px;
    font-weight: 800;
  }
  .text {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1430px) {
  .container {
    max-width: calc($container-width + $container-gap * 2);
    width: 100%;
    margin: 0 auto;
  }
  .btn {
    &:hover {
      background-color: $light-color;
      color: $main-light-color;
      .icon {
        fill: $main-light-color;
      }
    }
  }
  .btn-more {
    &:hover {
      color: $main-light-color;
      .icon {
        fill: $main-light-color;
      }
    }
  }
}
